h2{

color:#74BBE4
;

}

a{color:#66ACAE



}

body{background: url(https://www.micromania.fr/on/demandware.static/-/Sites-Micromania-Library/default/dwd79d5229/fanzone/dossier/onepiece/onepiece-equipage.jpg) no-repeat

;
background-size: 100%;
}

h2.headline{
	font-size:50px ;
}